@model Kpi.Hotels.Dataclient.Context.Models.Client

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div class="form-group">
                <label id="FirstName" class="control-label"></label>
                <input id="input-firstName" class="form-control" />
            </div>
            <div class="form-group">
                <label id="LastName" class="control-label"></label>
                <input id="input-lastName" class="form-control" />
            </div>
            <div class="form-group">
                <label id="PhoneNumber" class="control-label"></label>
                <input id="input-phoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label id="Address" class="control-label"></label>
                <input id="input-address" class="form-control" />
            </div>
            <div class="form-group">
                <label id="Nationality" class="control-label"></label>
                <input id="input-nationality" class="form-control" />
            </div>
            <div class="form-group">
                <label id="Email" class="control-label"></label>
                <input id="input-email" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" onclick="submitform()" >Create</button>
            </div>
    </div>
</div>

<div>
    <a href="#" onclick="redirectToList()">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(() => {
            console.log('document-ready');
        });
        const submitform = () => {
            const client = Object.assign({}, {
                firstName: $('#input-firstName').val(),
                lastName: $('#input-lastName').val(),
                phoneNumber: $('#input-phoneNumber').val(),
                address: $('#input-address').val(),
                nationality: $('#input-nationality').val(),
                email: $('#input-email').val()
            });
            $.ajax({
                url: '../../api/clients/',
                type: "POST",
                data: JSON.stringify(client),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: redirectToList()
            });
            console.log(client);
        };
        const redirectToList = () => window.location.replace('../clientsjquery');
    </script>
}