
<h1>Create client</h1>

<div class="row">
    <div class="col-md-4" [formGroup]="createGroup">
            <div class="form-group">
                <label id="FirstName" class="control-label">FirstName</label>
                <input id="input-firstName" class="form-control" formControlName="firstName"/>
            </div>
            <div class="form-group">
                <label id="LastName" class="control-label">LastName</label>
                <input id="input-lastName" class="form-control" formControlName="lastName"/>
            </div>
            <div class="form-group">
                <label id="PhoneNumber" class="control-label">PhoneNumber</label>
                <input id="input-phoneNumber" class="form-control" formControlName="phoneNumber"/>
            </div>
            <div class="form-group">
                <label id="Address" class="control-label">Address</label>
                <input id="input-address" class="form-control" formControlName="address"/>
            </div>
            <div class="form-group">
                <label id="Nationality" class="control-label">Nationality</label>
                <input id="input-nationality" class="form-control" formControlName="nationality"/>
            </div>
            <div class="form-group">
                <label id="Email" class="control-label">Email</label>
                <input id="input-email" class="form-control" formControlName="email"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" onclick="save()" >Create</button>
            </div>
    </div>
</div>